@charset "UTF-8"; /*Altough it's needed, it's better to define this charset for more complex CSS archives, because without that, some errors may occur*/


body {
    background-color: rgb(9, 139, 214);
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    justify-content: center
}
h1 {
    color: brown;
    font-size: 60px;
    background-color: aqua;
}
h2 {
    color: beige;
    font-size: 20px;
}
p {
    font-style: oblique;
    font-weight: bold;
    background-color: azure;
}
